

#holder {
    min-height: 100%;
    min-width: 100%;
    position:relative;
    justify-content: center;
    display: flex;  
}
#body {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-top: -10vh;
    width: 400px;
}
#body h6 {
    text-align: left;
    padding-bottom: 4px;
    font-size: 16px;
    color: black;
}
#footer {
    bottom: 0;
    position: absolute;
    padding-bottom: 10vh;
    margin-left: 9%;
}
#footer .links a {
    color: black;
    font-size: 16px;
    text-decoration: underline;
}
#footer .links a:hover, #footer .link a:focus {
    color: #0C436C;
}
.input-group {
    padding-bottom: 10px;
}
#footer .options-container .btn {
    color: #909090 !important; 
}
#footer .options-container .btn:hover, #footer .options-container .btn:focus  {
    color: #90909097 !important; 
}
#footer .options-container .next-btn {
    margin-top: 2px;
    right: 20px;
}
#footer .options-container .exit-btn {
    left: 20px;
}
.email {
    border-radius: 6px 6px 6px 6px !important;
    border-color: #5f686f30;
    -webkit-text-fill-color: #9090909a;
    font-size: 19px;
    max-height: 3.2em;
}