{% extends "users/portal_base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/portal/hostel_portal.css' %}">
{% endblock css %}

{% block title %}
<a class="nav-item header-title">Hostel Portal</a>
{% endblock title %}
{% block content %}

<main role="main" class="main-container h-100">
    <div class="container h-100 ">
        <div class="row align-items-center h-100">
            <div class="column portal-options col-6 mx-auto">
                <div cLass='col'>
                    <a href="{% url 'register' %}" class="signup">Sign UP</a>
                </div>
                <div cLass='col'>
                    <a href="{% url 'login' %}" class="signin">Sign IN</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content%}






