{% extends "users/portal_base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/portal/login.css' %}">
{% endblock css %}
{% block title %}
{% load crispy_forms_tags %}
<a class="nav-item header-title" >Sign IN</a>
{% endblock title %}
{% block content %}
<main role="main" class="main-container h-100">
    <div class="container h-100">
        <div class="row align-items-center h-100" >
            <div class="user_card col-6 mx-auto" id="body">
                <div class="form_container justify-content-center d-flex" >
                    <form method="POST" action="" class="form-body">
                        {% csrf_token %}
                        <div class="input-group ">
                            <input type="text" name="username" placeholder="ID Number" class="form-control username" autofocus>
                        </div>
                        <div class="input-group buttonIn">
                            <input type="password" name="password" placeholder="PIN" class="form-control password">
                            <button id="submit" class="btn submit-btn"><i
                                    class="fas fa-arrow-alt-circle-right fa-2x"></i></button>
                        </div>
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                <a href="{% url 'reset_password' %}" class="ml-2 forgot-password-message">Forgot ID
                                    Number or
                                    PIN?</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <p>
                        {% for field in form %}
                        {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                    <div style="color: red">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                    {% endif %}
                    </p>
                </div>
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock content%}





