<!-- templates/registration/password_reset_form.html -->
{% extends 'users/register_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/register/password_reset.css' %}">
{% endblock css %}
{% block title %}
<a class="nav-item header-title">Recover <span class="header-bold">ACCOUNT</span></a>
{% endblock title %}
{% block content %}
<main role="main" class="container" id="holder">
    <div class="d-flex justify-content-center" id="body" >
        <form method="POST" action="" >
            <div class="justify-content-center form_container ">
                {% csrf_token %}
                <h6>Email</h6>
                <div class="input-group password-reset">
                    <input type="text" name="email" placeholder="Email Account" class="form-control email ">
                </div>
                <p>
                    {% for field in form %}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                <div style="color: red">
                    <p>{{form.non_field_errors}}</p>
                </div>
                {% endif %}
                </p>
                <div class="button-container" id="footer" >
                    <div class="d-flex justify-content-center mt-3 options-container" >
                        <div class="col exit-btn">
                            <a class="btn nav-item nav-link icon" href="{% url 'hostelportal' %}"><i
                                    class="fas fa-times-circle fa-2x"></i></a>
                        </div>
                        <div class="col next-btn">
                            <input class="btn fa fa-input fa-2x" type="submit" value="&#xf35a">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock content %}



