<!-- templates/registration/password_reset_form.html -->
{% extends 'users/register_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/register/password_reset_sent.css' %}">
{% endblock css %}
{% block title %}
<a class="nav-item header-title">Recover Account</a>
{% endblock title %}

{% block content %}
<div class='container password-reset-sent' id="holder">
    <div class="container" id="body">
        <h3>Password Reset Sent</h3>
        <p>- an email has been sent to your Email Address</b></p>
        <p>
            - if an account exists with the email you entered. you should
            receive them shortly. If you don't recieve an email, please make sure you've
            entered the address you registered with, and check your spam folder
        </p>
    </div>
    
    <div class='container' id="footer">
        <div class="d-flex justify-content-center mt-3 reset-password-sent-btn">
            <a class="button-reset" href="{% url 'login' %}"><i class="fas fa-dot-circle fa-2x"></i></a>
            <p class="button-reset-text">Back to Login</p>
        </div>
    </div>
</div>


{% endblock content %}