<!-- templates/registration/password_reset_form.html -->
{% extends 'users/register_base.html' %}

{% block content %}
<div class='container password-reset-sent'>
    <h3>Password Reset Sent</h3>
    <p>an email has been sent to <b>{{user.email}}</b></p>
    <p>
        if an account exists with the email you entered. you should
        receive them shortly. If you don't recieve an email, please make sure you've
        entered the address you registered with, and check your spam folder
    </p>
    <div class='container'>
        <div class="d-flex justify-content-center mt-3 reset-password-sent-btn">
            <a class="button-reset" href="{% url 'login' %}"><i class="fas fa-dot-circle fa-2x"></i></a>
            <p>Back to Login</p>
        </div>
    </div>
</div>


{% endblock content %}