<!-- templates/registration/password_reset_form.html -->
{% extends 'users/register_base.html' %}
{% block title %}
<a class="nav-item header-title">Retrieve Account</a>
{% endblock title %}
{% block content %}

<!-- <div class="user_card">
    <div class="d-flex justify-content-center form_container3">
        <form method="POST" action="">
            {% csrf_token %}
            <h6>Password 1</h6>
            <div class="input-group password-reset">
                <input type="hidden" name="email" placeholder="e.g. Password123" class="form-control email ">
            </div>
            <h6>Password 2</h6>
            <div class="input-group password-reset">
                <input type="hidden" name="password" placeholder="e.g. Password123s" class="form-control email ">
            </div>
            <p>
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <div style="color: red">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                {% endif %}
            </p>
            <div class="d-flex justify-content-center mt-3 login_container">
                <div class="col exit-btn">
                    <a class="nav-item nav-link icon" href="{% url 'hostleportal' %}"><i
                            class="fas fa-times-circle fa-2x"></i></a>
                </div>
                <div class="col next-btn">
                    <input class="btn login_btn fa fa-input fa-2x" type="submit" value="&#xf35a">
                </div>
            </div>
        </form>
    </div>

</div> -->



<div class='container reset-password'>
    <h1>Enter New Password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="d-flex justify-content-center mt-3 login_container">
            <div class="col exit-btn2">
                <a class="nav-item nav-link icon" href="{% url 'hostleportal' %}"><i class="fas fa-times-circle fa-2x"></i></a>
            </div>
            <div class="col next-btn2">
                <input class="btn login_btn fa fa-input fa-2x" type="submit" value="&#xf35a">
            </div>
        </div>
    </form>
</div>

{% endblock %}



